#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://img.margit.asia/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20240617104721.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
  background-position: center top -5%; 
}
/* 文章页背景 */
.layout_post>#post {
  /* 以下代表透明度为0.7 可以自行修改*/
  background: rgba(255,255,255,.7);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表透明度为0.7 */
  background: rgba(255,255,255,.7);
}
/*侧边卡片的透明度 */
:root {
--card-bg: rgba(255, 255, 255, 0.7);
}
/* 页脚透明 */
#footer {
/* 以下代表透明度为0.7 */
background: rgba(255,255,255, .0);
}
.icon img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}

.icon:hover img {
  transform: scale(1.1); /* 鼠标悬停时图片稍微放大 */
}